

.body{
    background-color: #009578;
    margin: 15px;
    margin-top: 50px;
}



.header{
    background: #009578;
    height: 40px;
    
}


.label{
 
    font-family: sans-serif;
    font-size:larger;

}

.img{
    box-align: left;
    max-width: 125px;
}


.img2{
    box-align: center;
    max-width: 250px;
}
.text{
    position: absolute;
    margin-top: 15px;
    font-family: sans-serif;
    font-size: x-large;
    padding: 10px
}

.stylenavbar{
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d1c1e0; 
    background: #009879;
    border-radius: 5px 5px 5px 5px;
    font-family: sans-serif;
    color: #dddddd;
}
/** Profile **/
.navbar{
    position: fixed;
    top: 0;
    left: 0px;
    width: 200px;
    height: 100%;
    background: #009879;
    border-right: 2px solid #008c71;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    
}

.navbar--open{
    left: 0;
    opacity: 1;
}

.navbar__link{
    display: flex;
    align-items: center;
    background: #008c71;
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.85rem;
    border-bottom: 1px solid #009879;
}

.navbar__link .material-icons{
    margin-right: 12px;
}

.navbar__link:active{
    background: #007d65;
}
/**---------------------------------**/

/** Form **/
.form{
    font-family: sans-serif;
    font-size: 16px;
}

.form *{
    box-sizing: border-box;
    line-height: 1.5;
}

.form__title{
    font-size: 2em;
    
}

.form__item{
    display: flex;
    flex-direction: column;
}

.form__item > *{
    align-self: flex-start;
}

.form__label{
    font-weight: 600;
    padding: 10px 0;
}

.form__input{
    -webkit-appearance: none;
    width: 100%;
    max-width: 425px;
    
    
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;

    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
    transition: background 0.25s,border-color 0.25s,color 0.25s;
}

.form__input:focus{
    background: #ffffff;
}

.form__input::placeholder{
    color:#bbbbbb;
}

.form__input--error{
    color: #d50000;
    background: #fff8f8;
    border-color: #d50000;
}

.form__input--error::placeholder{
    color: #d50000;
}
.form__span{
    padding-top: 10px;
    font-size: 15px;
    color: blue;
}
.form__error{
    padding-top: 10px;
    color: #d50000;
    font-size: 0.9em;
    visibility: visible;
}

.form__input--error + .form__error{
    visibility: visible;
}

.form__input--small{
    max-width: 250px;
}

.form__btn{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 10px 0;

    color: #ffffff;
    background: #009578;
    border:2px solid #0b5042;
    border-radius: 5px;
    
    
}
/**-------------------------------------**/


/** Table **/
.content-table{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0,0.15);
    }


.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}


.content-table th,
.content-table td{
    padding: 12px 15px;
}


.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}


.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
/**---------------------------------------------**/

/** Login form**/
.login-form,
.login-form *{
    box-sizing: border-box;
    font-family: sans-serif;
}

.login-form{
    max-width: 350px;
    margin: 0  auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.login-form__logo-container{

    padding: 30px;
    background: rgba(0, 0, 0, 0.25);
    background-color: #009879;
    border-radius: 5px;
}

.login-form__logo{
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.login-form__content{
    padding: 30px;
    background: #eeeeee;
}

.login-form__header{
    margin-bottom: 15px;
    text-align: center;
    color: #333333;
}

.login-form__input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: boreder-color 0.5s;
}

.login-form__input:focus{
    border-color: #009578;
}

.login-form__input::placeholder{
    color: #aaaaaa;
}

.login-form__button{
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #009578;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form__button:active{
    background: #008069;
}
/**---------------------------------------------**/
.div{
    align-content: center;
}


.input{
    margin-left: 300px;
    margin-top: 15px;
    padding: 10px 35px
}